body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header, .footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header {
  top: 0;
  height: 15%;
}
.footer {
  bottom: 0;
}
.content {
  margin-top: 6%;
  margin-bottom: 60px;
  padding: 20px;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 18%; 
  width: 200px;
  height: calc(100% - 100px); 
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  padding: 10px;
  overflow-y: auto;
}
.main-content {
  margin-left: 220px;
  padding: 20px;
}

h3 {
  font-family: Calibri;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: small;
}

table {
  width: fit-content;
  font-size: small;
}
th {
  text-align: left;
}
td {
  text-align: left;
}

a {
  color: gray;
  font-style: normal;
}

.tab {
  margin-left: 5%;
}

.aboutMe {
  font-size: small;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contactInfo {
  display: inline-block;
  
}
.imgFlag {
  height: 10px;
  width: 15px;
}

.skills {
  font-size: small;
}
.skillList {
  font-size: smaller;
}

.workExperience {
  font-size: small;
}
.workExp {
  background-color: lightgrey;
  border-radius: 10px;
  padding: 5px 0 5px 0;
  margin-left: 10px;
}
.workTime {
  color: black;
  background-color: lightslategray;
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  font: small-caps;
}
.workTitle {
  font-weight: bolder;
  font: icon;
  color: black;
}
.workPlace {
  font: status-bar;
  color:grey
}

.list {
  margin-left: 5%;
  margin-right: 5%;
  list-style-type: circle;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.sublist {
  list-style-type: square;
  margin-left: 5px;
}

.certList {
  font-size: smaller;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.certHeader {
  font-weight: bold;
}
.certImg {
  max-height: 70px;
  text-align: center;
}

.imgPrf {
  float: right;
  max-width: 100px;
  margin-right: 50px;
  margin-top: 12px;
  background-color: beige;
  padding: 5px;
  border-radius: 50%;
}




@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .container, .containerCol {
    flex-direction: column;
    margin: 0 10px;
  }

  .imgPrf {
    float: right;
    display: block;
    margin: 0 auto; /* Centra la imagen en dispositivos móviles */
    max-height: 50%;
    margin-right: 3%;
    padding: 2%;
    border-radius: 50%;
    background-color: beige;
  }

  .item, .itemCol {
    text-align: center; /* Centra el texto en dispositivos móviles */
  }

  h1 {
    text-align: left;
    padding: 1%;
  } 
  h2 {
    text-align: left;
    padding: 2%;
  }
  h3 {
    font-size: large;
    border-bottom: solid 1px;
  }
  h4 {
    font-size: small;
  }

  .table {
    font-size: xx-small;
    margin: auto;
  }

  .expImg {
    max-width: 50%; /* Aumenta el tamaño de las imágenes para que sean más visibles en dispositivos móviles */
  }

  .header {
    height: fit-content;
    order: 1; 
    position: sticky;
  }

  .sidebar {
    order: 2; 
    width: auto; 
    margin: 0; 
    position: sticky;
    top: auto;
    left: 0;
    height: fit-content;
    box-shadow: none;
    background: none;
  }

  .content {
    order: 3; 
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main-content {
    left: 0;
    top: 0;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
  }

  .personalInfo {
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills {
    margin: auto;
  }
  .skillList {
    font-size: smaller;
  }
  
  hr {
    display: none;
  }

  .workExp {
    margin-left: 0;
    background-color: whitesmoke;
    border: none;
  }

  .workTime {
    text-align: left;
    border: none;
    background-color: gray;
  }

  .list {
    display: block;
    column-count: 1;
  }

  .certList {
    display: flex;
    flex-direction: column;
  }
  .certImg {
    max-width: 25%;
    max-height: 50%;
  }

  .footer {
    position: sticky;
  }

  .imgFlag {
    border-radius: 25%;
  }
}
