body {
    background-color: white;
    font-family: sans-serif;
    margin-left: 15px;
    margin-right: 15px;
  }

  p {
    padding-left: 15px;
    font-family: Calibri;
  }

  h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  h3 {
    background-color: burlywood;
    color: brown;
    border-radius: 25px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  h4 {
    padding-left: 25px;
    background-color: bisque;
    color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
  }
  

  li {
    display: block;
  }
  
  .profileHeader {
    padding: 15px;
    border-radius: 25px;
    background-color: brown;
    color: burlywood;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .profilePic {
    float: right;
    padding: 15px;
    max-height: 125px;
  }
  
  
  .progressBar {
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
  
  .div-side-by-side {
      display: inline-block;
      width: 50%;
  }
  
  .list {
    padding-top: 3px;
  }
  .sublist {
    font-size: small;
  }
  
  
  .educHeader {
    font-size: larger;
    font-weight: bold;
  }
  .educSubHeader {
    font-size: medium;
    font-weight: bold;
  }
  .educList {
    display: inline-block;
  }
  .educText {
    font-style: normal;
  }
  .educImgITBA {
    width: 100%;
    max-width: 250px;
  }
  .educImg {
    width: 50%;
    max-width: 150px;
  }
  
  
  .workHeader {
    font-size: larger;
    font-weight: bold;
  }
  .workSubHeader {
    font-size: medium;
    font-weight: bold;
  }
  .workList {
    display: inline-block;
  }
  .workText {
    padding-top: 5px;
  }
  .workImg {
    float: right;
    width: 50%;
    max-width: 180px;
  }
  .workCurrent {
    color: brown;
    border-color: burlywood;
    border-style: solid;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
  }
  .workPrevious {
    color: bisque;
  }
  
  
  .certHeader {
    font-size: larger;
    font-weight: bold;
  }
  .certSubHeader {
    font-size: medium;
    font-weight: bold;
  }
  .certList {
    width: 25%;
  }
  .certImg {
    max-width: 190px;
    height: 140px;
  }

.chatWhatsapp {
  max-height: 30px;
  float: right;
}


progress {
  width: 100%;
  height: 20px;
  color: #3a3b55;
  background-color: #e0e0e0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
progress::-webkit-progress-bar {
  background-color: #e0e0e0;
}
progress::-webkit-progress-value {
  background-color: #3a3b55;
}
progress::-moz-progress-bar {
  background-color: #3a3b55;
}

footer {
  padding: 5px;
  text-align: right;
  background-color: brown;
  color: burlywood;
}