body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2f3435;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1;
}


h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #7ea5ac;
  color: #193035;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
}
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 5px;
  padding-left: 15px;
  background-color: #c4dbdf;
  border-radius: 5px;
}

li {
  display: block;
}

.profileHeader {
  background-color: #193035;
  color: #9ecdd7;
  border-radius: 15px;
}
.profilePic {
  float: right;
  max-height: 125px;
  padding: 15px;
}


.personalList {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flexbox;
  flex-direction: row;
  border-left: 2px solid #193035;
  padding-left: 10px;
}
.chatWhatsapp {
  max-height: 30px;
  float: right;
}

.expJob {
  font-weight: bolder;
}
.expEmployer {
  font-weight: bold;
}
.expImg {
  float: right;
  max-width: 20%;
  border-radius: 25px;
}
.expDesc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left: 2px solid #193035;
  padding-left: 10px;
}
.expList {
  margin-left: 15px;
  border-left: 2px solid #9eb1b5;
  font-weight: bold;
}
.expSublist {
  margin-left: 15px;
  font-size: small;
  padding-left: 10px;
  font-weight: normal;
}


.eduImg {
  width: 30%;
}

footer {
  text-align: right;
  padding: 5px;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
progress {
  /* Tamaño */
  width: 100%;
  height: 20px;

  /* Color y Bordes */
  color: #405457; /* Color de la barra en algunos navegadores */
  background-color: #e0e0e0;
  border-radius: 5px;
  border: 1px solid #ccc;

  /* Sombra */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* Estilo para Webkit/Blink */
progress::-webkit-progress-bar {
  background-color: #426a72;
}

progress::-webkit-progress-value {
  background-color: #9eb1b5;
}

/* Estilo para Firefox */
progress::-moz-progress-bar {
  background-color: #9eb1b5;
}
